body {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(76, 77, 77);
    text-align: center;
    color: black;
}

.container {
    height: 404px;
    width: 292px;
    background-color: skyblue;
    border: 2px solid aquamarine;
    border-radius: 12px;
    padding: 2rem 3rem;
}

#height,
#weight {
    height: 1rem;
    width: 6rem;
    margin: 5px auto;
    padding: 8px 6px;
    border-radius: 3px;
    border: 1px solid black;
    font-weight: 400;
}

h2 {
    cursor: pointer;
}

#btn {
    color: black;
    margin: 12px 0;
    padding: 0.3rem 1.5rem;
    border-radius: 8px;
    /* background-color: blue; */
    border: 3px solid blue;
    font-weight: bold;
    cursor: pointer;
}

#btn:hover {
    color: whitesmoke;
    background-color: blue;
}

.guide {
    cursor: pointer;
    text-align: left;
    margin-left: 4px;
    margin-top: 2rem;
    font-weight: bold;
}

li {
    margin: 10px;
}

.results {
    cursor: pointer;
    margin-top: 8px;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    background-color: red;
}